<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Image_base</key>
	<array>
		<string>box_big.png</string>
		<string>box.png</string>
		<string>box0.png</string>
		<string>box1.png</string>
	</array>
	<key>Image_help</key>
	<array>
		<string>help_btn_a.png</string>
		<string>help_btn_b.png</string>
		<string>help_btn_c.png</string>
		<string>help_change_color.png</string>
		<string>help_jump.png</string>
		<string>help_label_a.png</string>
		<string>help_label_b.png</string>
		<string>help_label_c.png</string>
		<string>help_run.png</string>
		<string>help_scroll.png</string>
	</array>
	<key>Image_button</key>
	<array>
		<string>BUTTON_A1.png</string>
		<string>BUTTON_A2.png</string>
		<string>BUTTON_B1.png</string>
		<string>BUTTON_B2.png</string>
		<string>BUTTON_C1.png</string>
		<string>BUTTON_C2.png</string>
	</array>
	<key>Image_achieve</key>
	<array>
		<string>achieve_distance.png</string>
		<string>achieve_frame.png</string>
		<string>achieve_level1.png</string>
		<string>achieve_level2.png</string>
		<string>achieve_level3.png</string>
		<string>achieve_level4.png</string>
		<string>achieve_life.png</string>
		<string>achieve_score.png</string>
		<string>achieve_star.png</string>
	</array>
	<key>Image_shopping</key>
	<array>
		<string>menu_dollar_099.png</string>
		<string>menu_dollar_199.png</string>
		<string>menu_life_title_1.png</string>
		<string>menu_life_title_2.png</string>
		<string>menu_life_title_3.png</string>
		<string>menu_star_500.png</string>
		<string>menu_star_1000.png</string>
		<string>menu_star_title_5000.png</string>
		<string>menu_star_title_15000.png</string>
		<string>saveMe_progress.png</string>
		<string>saveMe500.png</string>
	</array>
	<key>Sound</key>
	<array>
		<string>bg_menu.wav</string>
		<string>bg.wav</string>
		<string>box_fail.mp3</string>
		<string>box_success.mp3</string>
		<string>box.mp3</string>
		<string>boxtop_show.mp3</string>
		<string>button.mp3</string>
		<string>change.mp3</string>
		<string>dead.mp3</string>
		<string>hurt.wav</string>
		<string>jump.wav</string>
		<string>life.mp3</string>
		<string>line.mp3</string>
		<string>score.wav</string>
		<string>scroll.wav</string>
		<string>shop_success.mp3</string>
		<string>star.mp3</string>
	</array>
	<key>Plist</key>
	<array>
		<string>hero.plist</string>
		<string>thing.plist</string>
		<string>ad.plist</string>
		<string>bg.plist</string>
	</array>
</dict>
</plist>
