<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/RunTwoEx.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.sox.runtwo</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/RunTwoEx.app/Icon@2x.png</string>
			<string>Applications/RunTwoEx.app/Icon.png</string>
			<string>Applications/RunTwoEx.app/Icon@2x.png</string>
			<string>Applications/RunTwoEx.app/Icon-72.png</string>
			<string>Applications/RunTwoEx.app/Icon-Small-50.png</string>
			<string>Applications/RunTwoEx.app/Icon-Small@2x.png</string>
			<string>Applications/RunTwoEx.app/Icon-Small.png</string>
			<string>Applications/RunTwoEx.app/Icon-Small@2x.png</string>
			<string>Applications/RunTwoEx.app/Icon-80.png</string>
			<string>Applications/RunTwoEx.app/Icon-58.png</string>
			<string>Applications/RunTwoEx.app/Icon-120.png</string>
			<string>Applications/RunTwoEx.app/Icon@2x.png</string>
			<string>Applications/RunTwoEx.app/Icon.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Zhen Song Yang (F4QGR2L67C)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2013-11-19T09:23:51Z</date>
	<key>Name</key>
	<string>RunTwo</string>
	<key>SchemeName</key>
	<string>RunTwoEx</string>
</dict>
</plist>
